@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: center;
}
.nav_link{
    padding: 30px;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    text-align: center;
}
main {
    background-color: white;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 10px 10px 15px black;
    transition: transform .5s;
    grid-row: 2/5;
}
img:hover {
    opacity: .6;
    transform: scale(1.1);
}

a{
    color: black;
}
nav a:hover {
    color: navy;
    background-color: white;
}
#main_title{
    font-size: 4em;
    text-align: center;
    font-family: Sixtyfour, sans-serif, Helvetica;
    grid-column: 1/2; 
}

footer p, h3{
    text-align: center;
}
main p {
    width: 50%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 40px;
    background-color: lightblue;
    border: 5px solid tan;
    color: black;
    border-radius: 30px;
    box-sizing: border-box;
}
#sub_title{
    color: red;
    text-align: center;
}
footer{
    padding: 30px;
}
    @media screen and (max-width: 900px) {
      main {
        display: block;
      } 
    }

   